table{       
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 18px;
    background-color: white;
    align-content: center;
    font-family: HelveticaNeueW01-Thin,HelveticaNeueW02-Thin,HelveticaNeueW10-35Thin,sans-serif;
    width: 100%;

}
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .xi{
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.bord{
    border: 1px solid rgb(7, 47, 99);
    display: table;
    padding: 10px;
    width: 95%;
    margin: 3%;
}
.headin{
    font-weight: bold;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    background: inherit; 
    width: 100%;
    padding: 4px;
    
}
table.center {
    margin-left: auto;
    margin-right: auto;
  }
.btn{
    padding:1px 5px;
}
th{
    background-color: rgb(211, 211, 3);
    color:white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1%;
}

tr:nth-child(odd) {
    background-color: #f8f79b;
}
tr:hover{
    background-color: #9abdf5;
}




#border{
    background-color: white;
}
#asc,#desc{
    float:right;
}

  
.input-icons { 
    float:right;
} 
.roww{
    padding: 15px 5px;
    border-top: 1px solid black;
    
}  
.form-control { 
    padding: 1px; 
    width: 100%;
} 
.media{
    display: inline;
}

.pagination{
    float: right;
}
tr th i{
    float: right;;
}
.pagination li:hover{
    cursor: pointer;
    color: blue;
}
#currentpage{
    background-color: lightblue;
    color: blue
}
.pagination li{
    padding: 1px 5px;
    background-color: lightblue;
    font-size: 1em;
    border-right: 0.5px solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#previ,#next{
    background-color: rgb(154, 154, 168);
    color:black;
    border-radius: 3px;
}
.inp-block{
    margin-left: 10%;
    display: inline-block;
    width: 250px;
}
.field{
    display: inline-block;
    padding: 10px;
}
.error{
    background-image:linear-gradient(10deg, #d50000 0%, #fc362f 74%);
    border-left: 5px solid #8d0e0e;
    color: white;
    padding:7px;
    font-size: 12px;
}
.center{
    text-align: center;
}
.success{
    background-image:linear-gradient(10deg, #2f8f03 0%, #28e952 74%);
    border-left: 5px solid #015a01;
    color: white;
    padding:7px;
    font-size: 12px;
}
.margs{
    margin-left: 5%;
}
@media (min-width:260px) and (max-width:814px){
    .input-icons{
        float: left;
    }
    .pagination{
        float: left;
    }
    .headin{
        font-size: 1.5em;
    }
    td,button,th,.btn,#asc,#desc,b{
        font-size: 0.7em;
        text-size-adjust: auto;
    }

    .media{
        display: none;
    }
    .inp-block{
        width: 150px;
    }
    td[data="S.No"]{
        max-width: 1px;
        overflow-x: scroll;
    }
    .field{
        margin-left: 0;
    }
    .margs{
        margin-left: 1%;
    }
    
}
