
.card{
    border-style: groove;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    
}
.center{
	text-align: center;
}
.tomato{
	color: tomato !important;
}
.head{
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: bolder;
    line-height: 48px;
    margin: 0; 
}
.btn{
    background-color: #42a1f5;
    color: white;
    font-weight: bold;
    width: 100px;
    border-radius: 20px;
    outline-style:none ;
}
.btn:active,
.btn:focus,
.btn:hover{
    background-color: #6bb4f3;
    color: white;
    font-weight: bold;
    width: 100px;
    outline-style:none !important;
}
.bord{
    border-left: 1px solid grey;
    
}
.log{
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 4% 0 18%;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 300px;
}
.log:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.log:focus {
    outline: none;
}
.log:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.facebook{
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
}
.facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.facebook:hover,
.facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
.google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #db4a39
  }
  .google:before {
    border-right:#b72a19 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .google:hover,
  .google:focus {
    background-color: #d76153;
    background-image: linear-gradient(rgb(213, 104, 91), #dd5343);
  }
  body{
    overflow-x: hidden
  }
  [data-tip],[error-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	display:none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #1a1a1a;
	position:absolute;
	top:-85%;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
	position:absolute;
	top:5%;
	left:80%;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:-76%;
	left:70%;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:28px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip][if='1']:hover:before,
[data-tip][if='1']:hover:after {
	display:block;
}
[error-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	display:none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f33737;
	position:absolute;
	top:-85%;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
	position:absolute;
	top:5%;
	left:80%;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[error-tip]:after {
	display:none;
	content:attr(error-tip);
	position:absolute;
	top:-76%;
	left:70%;
	padding:5px 8px;
	background:#e61919;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:28px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[error-tip][if='0']:before,
[error-tip][if='0']:after {
	display:block;
} 
.error{
    background-image:linear-gradient(10deg, #d50000 0%, #fc362f 74%);
    border-left: 5px solid #8d0e0e;
    color: white;
    padding:7px;
    font-size: 12px;
}
@media (min-width:260px) and (max-width:814px){

	.log{
		font-size: 4.8vw;
		margin-bottom: 4%;
	}.mbox1{
		min-width: 95%;
	}
	.mbox2{
		min-width: 95%;
	}
	.log{
		width: 250px;
	}
	table{
		font-size: 0.75em;
	}.noname{
		display: none;
	}

}
table{
	min-width: 100%;
	text-align: left;
	color: grey;
}
.mbox1{
	padding: 10px;
	display: inline-block;
	width: 65%;
	border: 1px solid white;
	margin: 10px;
	vertical-align: top;
}
.mbox2{
	padding: 10px;
	display: inline-block;
	width: 30%;
	border: 1px solid grey;
	margin: 10px;

}
.image-holder{
	height: 14rem;
	max-width: 25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.image-holder img{
	height: inherit;
	width: 100%;
}
.image-holder:hover{
	z-index: 2;
	transform: scale(1.2);
	box-shadow: 0rem 0rem 1rem 0.1rem;
	cursor: pointer;
	transition: all 0.5s;
}
#image-left{
	position: relative;
	left: 7%;
}
#image-mid{
	position: relative;
	z-index: 1;
	height: 15rem;
	width: 110%;
	box-shadow: 0rem 0rem 1rem 0.1rem;	
}
#image-right{
	position: relative;
	right: 5%;
}
.image-holder:hover ~ #image-mid{
	box-shadow: none;
}.carousel{
	height: fit-content;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 0%;
	margin: 4rem 0rem;
}
.blue{
	color: blue !important;
}
.under:hover{
	text-decoration: underline;
}

.payroll{
	text-align: center;
	border-radius: 0px 0px 25px 25px;
	background-color: whitesmoke;
	padding: 5px;
	box-shadow: 1px 1px #888888;
}