.bord2{
    display: table;
    padding: 10px;
    width: 95%;
    margin: 3%;
}
.bord{
    border: 1px solid rgb(7, 47, 99);
    display: table;
    padding: 10px;
    width: 95%;
    margin: 3%;
}
.roww{
    padding: 15px 10px;
    border-top: 1px solid black;
    
}  
.sbox i{
    font-size: 3em;
    float: right;
}

.center{
    text-align: center;
}

.mbox{
    display: inline-block;
    width: 45%;
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3%;
    border: 2px solid brown;
    font-size: 1em;
    height: 350px;
    overflow-y: hidden;

}
.error{
    background-image:linear-gradient(10deg, #d50000 0%, #fc362f 74%);
    border-left: 5px solid #8d0e0e;
    color: white;
    padding:7px;
    font-size: 12px;
}
.center{
    text-align: center;
}
.success{
    background-image:linear-gradient(10deg, #2f8f03 0%, #28e952 74%);
    border-left: 5px solid #015a01;
    color: white;
    padding:7px;
    font-size: 12px;
}
.row{
    margin: 0.5%;
}
.label2{
    font-size: 14px;
    font-weight: 800;
    float: left;
}

.inl{
    display: inline-block;
    font-size: 14px;
    
}
.inp{
    float: right;
    width: 210px;
    margin-left: 0 !important;
}
@media (min-width:260px) and (max-width:814px){
    
    .mbox{
        width: 90% !important;
        height: 250px;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .inp{
        width: 100px;
        font-size: 0.75em;
    }.label2{
        font-size: 1em;
    }
    
    
    
}
table{       
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 18px;
    background-color: white;
    align-content: center;
    font-family: HelveticaNeueW01-Thin,HelveticaNeueW02-Thin,HelveticaNeueW10-35Thin,sans-serif;
    width: 100%;

}

.headin{
    font-weight: bold;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    background: inherit; 
    width: 100%;
    padding: 4px;
    
}
table.center {
    margin-left: auto;
    margin-right: auto;
  }
.btn{
    padding:1px 5px;
}
th{
    background-color: rgb(250, 112, 135);
    color:white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1%;
}

tr:nth-child(odd) {
    background-color: rgb(252, 214, 220);
}
tr:hover{
    background-color: #9abdf5;
}




#border{
    background-color: white;
}
#asc,#desc{
    float:right;
}

  
.input-icons { 
    float:right;
} 
.roww{
    padding: 15px 10px;
    border-top: 1px solid black;
    
}  
.form-control { 
    padding: 1px; 
    width: 100%;
} 
.media{
    display: inline;
}

.pagination{
    float: right;
}
tr th i{
    float: right;;
}
.pagination li:hover{
    cursor: pointer;
    color: blue;
}
#currentpage{
    background-color: lightblue;
    color: blue
}
.pagination li{
    padding: 1px 5px;
    background-color: lightblue;
    font-size: 1em;
    border-right: 0.5px solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#previ,#next{
    background-color: rgb(154, 154, 168);
    color:black;
    border-radius: 3px;
}


@media (min-width:260px) and (max-width:814px){
    .input-icons{
        float: left;
    }
    .pagination{
        float: left;
    }
    .headin{
        font-size: 1.5em;
    }
    td,button,th,.btn,#asc,#desc,b{
        font-size: 0.7em;
        text-size-adjust: auto;
    }
    .media{
        display: none;
    }
    td{
        max-width: 100px;
        overflow-x: scroll;
    }
    
    
}

