<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Add Department</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://payrollv2.herokuapp.com/settings/style2">
    <link rel="stylesheet" href="http://payrollv2.herokuapp.com/department/css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <div class="bord">
                    <div class="headin center">Add Department</div>
                    <div class="roww"></div>

                    <div class="margs">
                        <div class="field"><b>Name : </b></div>
                        <div style="display: inline-block;">
                            <input class="inp-block" class="inputi form-control" placeholder="Enter Dep. Name"
                                type="text" v-model="department">
                        </div><br>
                    </div>

                    <div class="roww"></div>
                    <div v-if="error" class="error">
                        {{message_error}} !
                    </div> <br>
                    <div v-if="success" class="success">
                        {{message_success}} !
                    </div> <br>
                    <div class="center">
                        <button @click="save(name)" id='mybtn' style="padding: 5px 30px;"
                            class="btn btn-success">{{word}} </button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js@2.6.11/dist/vue.js"></script>
    <script src="http://payrollv2.herokuapp.com/navbar2"></script>
    <script>
        var app = new Vue({
            el: "#Index",
            data: {
                error: 0,
                success: 0,
                message_error: "Enter the full details",
                message_success: "Holiday created successfully",
                department: '',
                word: "SAVE",

            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {
                    setTimeout(function () { app.loaderoff() }, 500);

                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                }, save() {
                    app.word = 'Saving..'
                    $('#mybtn').prop('disabled', true);
                    if (app.date == '') {
                        this.error = 1;
                        this.message_error = "Enter correct Date !"
                        app.word = 'SAVE'
                        $('#mybtn').prop('disabled', false);
                        return;
                    } else if (app.department == '') {
                        this.error = 1;
                        app.word = 'SAVE'
                        this.message_error = "Enter correct Name !"
                        $('#mybtn').prop('disabled', false);
                        return;
                    } else {
                        $.post('./add_deppost', {
                            name: app.department,
                        }, function (data) {
                            console.log(data.message)
                            $('#mybtn').prop('disabled', false);
                            if (data.message != 'true') {
                                app.error = 1
                                app.message_error = data.message
                                $('#mybtn').prop('disabled', false);
                            } else {
                                app.error = 0
                                app.success = 1
                                app.message_success = "Department Added SuccessFully !"
                                setTimeout(() => {
                                    window.location.href = "manage_dep"
                                }, 1000);
                            }
                        })
                    }
                }

            }
        })
    </script>

    <script src="http://payrollv2.herokuapp.com/navbar2/collapsing"></script>
</body>

</html>