<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>User | Add User</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="https://payroll.cleverapps.io/settings/style2">
    <link rel="stylesheet" href="https://payroll.cleverapps.io/users/css">

    <meta name="csrf-token" content="XYZ123">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>

    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index" id="navba">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <div class="bord2">
                    <div class="mbox">
                        <div class="headin center">Add User</div>
                        <div class="roww"></div>

                        <label class="label2">Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="inl"><input type="text" class="inp" v-model="name" placeholder="Email user's name">
                        </div>
                        <br><br><label class="label2">Photo :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;</label>
                        <div class="inl" @click="photo()">
                            <form method="post" action="https://payroll.cleverapps.io/users/user/uploadpr" class="dropzone">
                                <div class="fallback">
                                    <input name="file" type="file" accept="image/png, image/jpeg , image/jpg" />
                                </div>

                            </form>
                        </div><br><label class="label2">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;
                        </label>
                        <div class="inl"><input type="email" v-model="mail" class="inp"
                                placeholder="Enter Email or username"></div>
                        <br><br><label class="label2">Password : &nbsp;</label>
                        <div class="inl"><input type="password" v-model="newpass" class="inp"
                                placeholder="Email strong password"></div>



                    </div>
                    <div class="mbox center">
                        <div class="headin center">Module Access</div>
                        <div class="roww"></div>
                        <label class="label2">Employee : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_emp"></div>
                        <div class="inl">View </div>
                        <div class="inl"><input type="checkbox" v-model="edit_emp"></div>
                        <div class="inl">Edit</div>
                        <br><br><label class="label2">Department : &nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_dep"></div>
                        <div class="inl">View </div>
                        <div class="inl"><input type="checkbox" v-model="edit_dep"></div>
                        <div class="inl">Edit</div>
                        <br><br><label class="label2">Attendance : &nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_att"></div>
                        <div class="inl">Mark </div>
                        <div class="inl"><input type="checkbox" v-model="edit_att"></div>
                        <div class="inl">View</div>
                        <br><br><label class="label2">Holidays :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_hol"></div>
                        <div class="inl">View </div>
                        <div class="inl"><input type="checkbox" v-model="edit_hol"></div>
                        <div class="inl">Edit</div>
                        <br><br><label class="label2">Payslips :
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_pay"></div>
                        <div class="inl">View </div>
                        <div class="inl"><input type="checkbox" v-model="edit_pay"></div>
                        <div class="inl">Edit</div>

                    </div>
                    <div v-if="error" class="error">
                        {{message_error}} !
                    </div> <br>
                    <div v-if="success" class="success">
                        {{message_success}} !
                    </div> <br>
                    <div class="center">
                        <button @click="save()" id='mybtn' style="padding: 5px 30px;" class="btn btn-success">{{word}} </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="https://payroll.cleverapps.io/navbar2"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
                success: 0,
                error: 0,
                newpass: '',
                name: '',
                mail: '',
                edit_emp: false, view_emp: false,
                edit_att: false, view_att: false,
                edit_dep: false, view_dep: false,
                edit_pay: false, view_pay: false,
                edit_hol: false, view_hol: false,
                time: 0,
                word: 'Save',
                message_error: "Enter the full details",
                message_success: "User added successfully",
            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {
                    setTimeout(function () { log.loaderoff() }, 500);

                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                }, photo() {
                    this.time = 5;
                    console.log("Photo")
                }, checkemail(email) {
                    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
                        this.validemail = 1;
                        return (true)
                    } else {
                        this.validemail = 0;
                        return (false)
                    }
                },
                checkpassword(pass) {
                    if (pass.length > 8) {
                        this.validpassword = 1
                        return true;
                    } else {
                        this.validpassword = 0;
                        return false;
                    }
                }, save() {
                    $('#mybtn').prop('disabled', true);
                    var x = this.view_emp + ";" + this.edit_emp + ";" + this.view_dep + ";" + this.edit_dep + ";" + this.view_att + ";" + this.edit_att + ";";
                    var y = x + this.view_hol + ";" + this.edit_hol + ";" + this.view_pay + ";" + this.edit_pay;
                    console.log(y)
                    
                    if (!this.checkemail(this.mail)) {
                        console.log("Mail Error")
                        this.error=1;
                        this.message_error="Enter correct Email Adress"
                        $('#mybtn').prop('disabled', false);
                        return;
                    }
                    if (!this.checkpassword(this.newpass)) {
                        console.log("Password Error")
                        this.error=1;
                        this.message_error="Enter 8 character long passsword"
                        $('#mybtn').prop('disabled', false);
                        return;
                    }
                    this.word = "Saving..."
                    setTimeout(function () {
                        $.post('./add_userpost', {
                            y: y,
                            password: log.newpass,
                            mail: log.mail,
                            name: log.name

                        }, function (data) {
                            console.log(data.message)
                            if (data.message != 'true') {
                                log.error = 1
                                log.message_error = data.message
                                $('#mybtn').prop('disabled', false);
                            } else {
                                log.error = 0
                                log.success = 1
                                log.message_success = "User Added SuccessFully !"
                                setTimeout(() => {
                                    window.location.href = "add_user"
                                }, 1000);
                            }
                        })
                    }, log.time * 1000);

                }

            }
        })
        Dropzone.options.uploadWidget = {
            paramName: 'file',
            maxFilesize: 2,
            maxFiles: 5,
            dictDefaultMessage: 'Drag an image here to upload, or click to select one',
            headers: {
                'x-csrf-token': document.querySelector('meta[name=csrf-token]').getAttributeNode('content').value,
            },
            acceptedFiles: 'image/*',
            init: function () {
                this.on('success', function (file, resp) {
                    console.log(resp);
                    console.log("UPLOADED SUCCESFULL")
                });

            },

        };
    </script>
    <script src="https://payroll.cleverapps.io/navbar2/collapsing"></script>
</body>

</html>