<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Attendance Report</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://localhost:3420/settings/style2">
    <link rel="stylesheet" href="css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index" id="navba">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <div class="bord">
                    <table class="report">
                        <tr>
                            <td><strong class="options">Select Employee :</strong></td>
                            <td><strong class="options">Select Year :</strong></td>
                            <td><strong class="options">Select Month :</strong></td>
                        </tr>
                        <tr>
                            <td><select class="form-control options" v-model="select_emp">
                                    <option style="color: black;" v-for="i in employee">{{i}}</option>
                                </select></td>
                            <td><select class="form-control options" v-model="select_year">
                                    <option v-for="i in yearlist">{{i}}</option>
                                </select></td>
                            <td><select class="form-control options" v-model="select_month">
                                    <option v-for="i in monthlist">{{i}}</option>
                                </select></td>
                        </tr>
                    </table><br>
                    <div v-if="error" class="error">
                        {{message_error}} !
                    </div> <br>
                    <div v-if="success" class="success">
                        {{message_success}} !
                    </div> <br>
                    <div class="center">
                        <button @click="submit()" style="padding: 5px 30px;" class="btn btn-success">Show Report
                        </button>
                    </div>
                    <div class="center headin"></div>
                    <div class="row"></div>
                    <div v-for="j in 2">
                        <table v-show="getpi">
                            <tr>
                                <th v-for="i in 14">
                                    {{i+(j-1)*14}}
                                </th>
                            </tr>
                            <tr>
                                <td v-for="i in 14">
                                    <b v-if="present[i-1+(j-1)*14]=='A'" style="color:red">
                                        {{present[i-1+(j-1)*14]}}</b>
                                    <b v-else>{{present[i-1+(j-1)*14]}}</b>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <table v-show="getpi">
                        <tr>
                            <th v-for="i in days2" >
                                {{i+4*7}}
                            </th>
                        </tr>
                        <tr>
                            <td v-for="i in days2">
                                <b v-if="present[28+i-1]=='A'" style="color:red">
                                    {{present[28+i-1]}}</b>
                                <b v-else>{{present[28+i-1]}}</b>
                            </td>
                        </tr>

                    </table>

                    <div id="piechart_3d"></div>

                </div>


            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="http://localhost:3420/navbar2"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
                success: 0,
                error: 0,
                idx: [],
                getpi: 0,
                employee: [],
                yearlist: [],
                monthlist: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', "December"],
                monthday: [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31],
                select_year: '',
                select_emp: '',
                present: '',
                days: 0,
                days2: 0,
                select_month: '',
                message_error: "Enter the full details",
                message_success: "Attendace report loaded successfully",
            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {
                    axios.get('http://localhost:3420/employee/api/quickemp')
                        .then(function (Response1) {
                            for (var i = 0; i < Response1.length; i++) {
                                log.employee.push(Response1[i].name)
                                log.idx.push(Response1[i].emp_id)
                            }
                            log.loaderoff()
                        })
                        .catch((err) => {
                            console.log(err)
                            log.error = 1
                            log.message_error = "Error connecting the database try again later !"
                            log.loaderoff()
                        })
                    this.year();
                }, submit() {
                    var z = log.monthlist.indexOf(log.select_month)
                    if (log.select_emp == "" || log.select_month == "" || log.select_year == "") {
                        log.error = 1
                        return
                    }
                    axios.get('http://localhost:3420/attendance/api/report?n=' + log.idx[log.employee.indexOf(log.select_emp)] + "&m=" + z + "&y=" + log.select_year)
                        .then(function (Response1) {
                            console.log(Response1)
                            if (Response1 == '') {
                                log.error = 1
                                log.message_error = "No Record Found !"
                                return
                            }
                            if (log.select_year % 4 == 0) {
                                log.monthday[1]++;
                            }
                            var a = 0;
                            var p = 0;
                            var of = 0;
                            log.error = 0
                            log.present = Response1.present
                            var itr = Response1.present
                            log.days = log.monthday[z]
                            log.days2 = log.days - 28
                            log.getpi = 1
                            for (var i = 0; i < log.days; i++) {

                                if (itr[i] == 'P') {
                                    p++
                                } else if (itr[i] == 'A') {
                                    a++
                                } else {
                                    of++
                                }

                            }
                            google.charts.load("current", { packages: ["corechart"] });
                            google.charts.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var data = google.visualization.arrayToDataTable([
                                    ['Status', 'Days in a month'],
                                    ['Present', p],
                                    ['Absent', a],
                                    ['Office Close or Not Marked', of],
                                ]);

                                var options = {
                                    title: 'Attendance Report',
                                    is3D: true,
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                                chart.draw(data, options);
                            }
                        })
                        .catch((err) => {
                            console.log(err)
                            log.error = 1
                            log.message_error = "Error connecting the database try again later !"
                            log.loaderoff()
                        })

                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                }, year() {
                    var d = new Date();
                    var n = d.getFullYear() + 1;
                    var y = 2020;
                    do {
                        this.yearlist.push(y)
                        y++;
                    } while (n != y);
                    this.select_month = this.monthlist[d.getMonth()];
                    this.select_year = n - 1;
                }

            }
        })


    </script>

    <script src="http://localhost:3420/navbar2/collapsing"></script>
</body>

</html>