<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Change Password</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://localhost:3420/settings/style2">
    <link rel="stylesheet" href="http://localhost:3420/settings/css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index" id="navba">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2" class="center">
                <div class="bord">
                    <div class="headin center">Change Password</div>
                    <div class="roww"></div>
                    <div class="form-group">
                        <div class="field">Previous Password* &nbsp;&nbsp;</div>
                        <input class="inp-block" class="inputi form-control" placeholder="Enter password" type="password" v-model="prevpass"><br>

                        <div class="field">New Password*  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; </div>
                        <input class="inp-block" class="inputi form-control" placeholder="Enter new password"
                            type="text" v-model="newpass"><br>

                        <div class="field">Confirm Password* &nbsp;&nbsp&nbsp </div>
                        <input class="inp-block" class="inputi form-control" placeholder="Enter new password" type="password"
                            v-model="newpass2"><br>


                    </div>
                    <div class="roww"></div>
                    <div v-if="error" class="error">
                        {{message_error}} !
                    </div> <br>
                    <div v-if="success" class="success">
                        {{message_success}} !
                    </div> <br>
                    <div class="center">
                        <button @click="save(date,name)"style="padding: 5px 30px;" class="btn btn-success">SAVE </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="http://localhost:3420/navbar2"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script>
        var log = new Vue({
            el: "#Index",

            data: {
                myArray: [],
                success: 1,
                error: 1,
                prevpass: '',
                newpass: '',
                newpass2: '',
                message_error: "Enter the full details",
                message_success: "Password updated successfully",
            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () { setTimeout(function () { log.loaderoff() }, 500);
                }

            }
        })    
        
    </script>

    <script src="http://localhost:3420/navbar2/collapsing"></script>
</body>

</html>