<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Courier Slip</title>
</head>

<body>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <style>
        .headin {
            font-weight: bold;
            color: black;
            font-family: 'Courier New', Courier, monospace;
            font-size: 2em;
            padding: 0px;

        }

        .reg {
            vertical-align: top;
            font-size: 0.7em;
        }

        .center {
            text-align: center;
        }


        tr {
            font-weight: bold;
        }

        .bord {
            max-width: 100%;
            border: 2px solid black;
        }

        @media print {

            .noprint {
                display: none;
            }
        }
    </style>
    <div id="Index">
        <div class="bord center">
            <img style="float: left;"
                src="https://res.cloudinary.com/shankygupta79/image/upload/v1592936084/z6smp2yi7h77jmrdtr4t.png"
                width="115px" height="110px">
            <b style="float: left;margin-left: 5%;">Date Generated : {{dateofdispatch}}<br></b>
            <div style="display: inline-block;vertical-align: center;min-width: 80%;">
                <div class="headin center">{{company}}<span class="reg">®</span>
                    <img style="float:right" src="/images/qr" width="70px">
                </div><br><br>
                <div>
                    <div style="float: right;">GST:{{GST}}</div>
                    <div style="float: left;">Website:www.lovebirdlingerie.com</div>
                </div>
                <br>
            </div>
        </div>
        <div class="bord">
            <table style="float: left;">
                <tr>
                <tr style="font-weight: 100;">

                    <td v-show="show">
                        To Deliver:
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{name}}
                    </td>
                    <td v-show="!show">
                        <input v-model="name">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{address1}}
                    </td>
                    <td v-show="!show">
                        <input v-model="address1">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{address2}}
                    </td>
                    <td v-show="!show">
                        <input v-model="address2">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{city}} {{pincode}} {{country}}
                    </td>
                    <td v-show="!show">
                        <input v-model="city"><input style="width: 70px;" v-model="pincode"><input style="width: 70px;" v-model="country">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{phone}}
                    </td>
                    <td v-show="!show">
                        <input v-model="phone">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{email}}
                    </td>
                    <td v-show="!show">
                        <input placeholder="EMAIL ID" v-model="email">
                    </td>
                </tr>

                </tr>
            </table>
            <table style="float: right;">
                <tr>
                <tr style="font-weight: 100;">

                    <td v-show="show">
                        Shipped By (If undelivered, return to):
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{name2}}
                    </td>
                    <td v-show="!show">
                        <input v-model="name2">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{address12}}
                    </td>
                    <td v-show="!show">
                        <input v-model="address12">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{address22}}
                    </td>
                    <td v-show="!show">
                        <input v-model="address22">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{city2}} {{pincode2}} {{country2}}
                    </td>
                    <td v-show="!show">
                        <input v-model="city2"><input style="width: 70px;" v-model="pincode2"><input style="width: 70px;" v-model="country2">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{phone2}}
                    </td>
                    <td v-show="!show">
                        <input v-model="phone2">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        {{email2}}
                    </td>
                    <td v-show="!show">
                        <input v-model="email2">
                    </td>
                </tr>

                </tr>
            </table>
            <br><br><br><br><br><br><br><br><br>
        </div>
        <div class="bord" style="height: 120px;">
            <br>
            <table style="float:left;margin-left: 5%;">
                <tr>
                    <td v-show="show">
                        Weight : {{weight}}
                    </td>
                    <td v-show="!show">
                        Weight :
                        <input v-model="weight">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        Dimenssions (in cm) : {{l}} x {{b}} x {{h}}
                    </td>
                    <td v-show="!show">
                        Dimenssions (in cm) :
                        <input v-model="l" style="width: 30px;"> x <input style="width: 30px;" v-model="b"> x <input
                            style="width: 30px;" v-model="h">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">PAYMENT MODE: {{mode}}</td>
                    <td v-show="!show">
                        PAYMENT MODE:
                        <input v-model="mode">
                    </td>
                </tr>
                <tr>
                    <td v-show="show">
                        To Collect : ₹ {{(amount).toLocaleString('en-IN')}}
                    </td>
                    <td v-show="!show">
                        To Collect :
                        <input v-model="amount">
                    </td>
                </tr>

            </table>
            <table style="float: right;margin-right: 5%;">

                <tr>
                    <td v-show="show">Courier By: {{cby}}</td>
                </tr>
                <td v-show="!show">
                    Courier By:
                    <input v-model="cby">
                </td>
                <tr>
                    <td v-show="show">Tracking ID: {{trackingid}}</td>
                </tr>
                <td v-show="!show">
                    Tracking ID:
                    <input v-model="trackingid">
                </td>
                <tr>
                    <td v-show="show">
                        <svg id="barcode"></svg>
                    </td>
                </tr>
                <tr v-show="!show">
                    <td v-show="!show">
                        Order No : <input v-model="orderno">
                    </td>
                </tr>


            </table>


        </div>
        <button @click="print()" class="noprint" style="padding:3px 15px"><i class="fa fa-print" style="color:red"
                aria-hidden="true"></i>&nbsp Print All</button>
        <button @click="edit()" class="noprint" style="padding:3px 15px"><i class="fa fa-pencil" style="color:green"
                aria-hidden="true"></i>&nbsp Edit</button>




    </div>
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
                show: 1,
                company: 'SANJEEV STORE',
                name: 'Customer name',
                address1: 'Address1',
                address2: 'Address2',
                city: 'Delhi',
                pincode: '110092',
                country: 'India',
                email: '',
                phone: '+91 - ',
                name2: 'Sanjeev Store',
                address12: '143-144 Chandni Chowk',
                address22: 'Delhi',
                city2: 'Delhi',
                pincode2: '110006',
                country2: 'India',
                email2: 'sanjeevstore@gmail.com',
                phone2: '+91 - 7982626664 , 011-43570389',
                orderno: '1234567890',
                weight: "Not Weighted",
                l: '20',
                b: '20',
                h: '10',
                mode: 'COD',
                GST: '07AFUPG1400M1ZE',
                website: 'Registered R',
                amount: '0',
                dateofdispatch: '26-05-2020',
                cby: 'Unknown',
                trackingid: 'N/A',
                thanks: 'Thank for shopping with us ! Stay Home & Stay Safe !',


            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {
                    var dt = new Date();
                    this.dateofdispatch = dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                },
                print() {
                    this.show = 1
                    JsBarcode("#barcode", this.orderno, {
                        lineColor: "#000",
                        width: 2.5,
                        height: 25,
                        displayValue: false
                    });
                    setTimeout(() => {
                        window.print()

                    }, 100)

                }, edit() {
                    this.show = !this.show
                    JsBarcode("#barcode", log.orderno, {
                        lineColor: "#000",
                        width: 2.5,
                        height: 25,
                        displayValue: false
                    });
                }
            }

        })
        JsBarcode("#barcode", log.orderno, {
            lineColor: "#000",
            width: 2.5,
            height: 25,
            displayValue: false
        });

    </script>
</body>

</html>