<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Courier Slip</title>
</head>

<body>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <style>
        .headin {
            font-weight: bold;
            color: black;
            font-family: 'Courier New', Courier, monospace;
            font-size: 2em;
            padding: 0px;
        }
        .reg {
            vertical-align: top;
            font-size: 0.7em;
        }
        .center {
            text-align: center;
        }

        tr {
            font-weight: bold;
        }
        .bord {
            max-width: 100%;
            border: 2px solid black;
        }
    </style>
    <div id="Index">
        <div class="bord center">
            <img style="float: left;"
                src="https://res.cloudinary.com/shankygupta79/image/upload/v1592936084/z6smp2yi7h77jmrdtr4t.png"
                width="115px" height="110px">
            <b style="float: left;margin-left: 5%;">Date Generated : {{dateofdispatch}}<br></b>
            <div style="display: inline-block;vertical-align: center;min-width: 80%;">
                <div class="headin center">{{company}}<span class="reg">®</span>
                    <img style="float:right" src="./QR.png" width="70px">
                </div><br><br>
                <div>
                    <div style="float: right;">GST:{{GST}}</div>
                    <div style="float: left;">Website:www.lovebirdlingerie.com</div>
                </div>
                <br>
            </div>
        </div>
        <div class="bord" style="height: 155px;">
            <table style="float: left;">
                <tr>
                <tr style="font-weight: 100;">

                    <td>
                        To Deliver:
                    </td>
                </tr>
                <tr>
                    <td>
                        {{name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{address1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{address2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{city}} {{pincode}} {{country}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{phone}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{email}}
                    </td>
                </tr>

                </tr>
            </table>
            <table style="float: right;">
                <tr>
                <tr style="font-weight: 100;">

                    <td>
                        Shipped By (If undelivered, return to):
                    </td>
                </tr>
                <tr>
                    <td>
                        {{name2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{address12}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{address22}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{city2}} {{pincode2}} {{country2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{phone2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{email2}}
                    </td>
                </tr>

                </tr>
            </table>
        </div>
        <div class="bord" style="height: 120px;">
            <br>
            <table style="float:left;margin-left: 5%;">
                <tr>
                    <td>
                        Weight : {{weight}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Dimenssions (in cm) : {{l}} x {{b}} x {{h}}
                    </td>
                </tr>
                <tr>
                    <td>PAYMENT MODE: {{mode}}</td>
                </tr>
                <tr>
                    <td>
                        To Collect : ₹ {{amount}}
                    </td>
                </tr>
            </table>
            <table style="float: right;margin-right: 5%;">
                <tr>
                    <td>Courier By: {{cby}}</td>
                </tr>
                <tr>
                    <td>Tracking ID: {{trackingid}}</td>
                </tr>
                <tr>
                    <td>
                        <svg id="barcode"></svg>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
                company: 'SANJEEV STORE',
                name: 'Customer name',
                address1: 'Address1',
                address2: 'Address2',
                city: 'Delhi',
                pincode: '110092',
                country: 'India',
                email: 'shankygupta79@gmail.com',
                phone: '+91 - 8810625118',
                name2: 'Sanjeev Store',
                address12: '143-144 Chandni Chowk',
                address22: 'Delhi',
                city2: 'Delhi',
                pincode2: '110006',
                country2: 'India',
                email2: 'sanjeevstore@gmail.com',
                phone2: '+91 - 7982626664 , 011-43570389',
                orderno: '1234567890',
                weight: "2.13",
                l: 10,
                b: 10,
                h: 10,
                mode: 'COD',
                GST: 'AAAAAAAAAA',
                website: 'Registered R',
                amount: '5000',
                dateofdispatch: '26-05-2020',
                cby: 'FEDEX',
                trackingid: 'N/A',
            }, methods: {
            }
        })
        JsBarcode("#barcode", log.orderno, {
            lineColor: "#000",
            width: 3,
            height: 25,
            displayValue: false
        });
    </script>
</body>
</html>