<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>User | Edit User</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://payrollv2.herokuapp.com/settings/style2">
    <link rel="stylesheet" href="http://payrollv2.herokuapp.com/users/css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index" id="navba">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <div class="bord2">
                    <div class="mbox">
                        <div class="headin center">Edit User</div>
                        <div class="roww"></div>

                        <label class="label2">Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="inl"><input type="text" v-model="name" class="inp" placeholder="Email user's name">
                        </div>
                        <br><br><label class="label2">Photo :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;</label>
                        <div class="inl">
                            <img src="https://res.cloudinary.com/shankygupta79/image/upload/v1592562756/profile_iz3s6y.jpg"
                                width="80px" height="80px">
                        </div>
                        <br><br><label class="label2">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;
                        </label>
                        <div class="inl"><input type="email" v-model="mail" class="inp"
                                placeholder="Enter Email or username" readonly></div>
                        <br>



                    </div>
                    <div class="mbox center">
                        <div class="headin center">Module Access</div>
                        <div class="roww"></div>
                        <label class="label2">Employee : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_emp"></div>
                        <div class="inl">View </div>
                        <div class="inl"><input type="checkbox" v-model="edit_emp"></div>
                        <div class="inl">Edit</div>
                        <br><br><label class="label2">Department : &nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_dep"></div>
                        <div class="inl">View </div>
                        <div class="inl"><input type="checkbox" v-model="edit_dep"></div>
                        <div class="inl">Edit</div>
                        <br><br><label class="label2">Attendance : &nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_att"></div>
                        <div class="inl">Mark </div>
                        <div class="inl"><input type="checkbox" v-model="edit_att"></div>
                        <div class="inl">View</div>
                        <br><br><label class="label2">Holidays :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_hol"></div>
                        <div class="inl">View </div>
                        <div class="inl"><input type="checkbox" v-model="edit_hol"></div>
                        <div class="inl">Edit</div>
                        <br><br><label class="label2">Payslips :
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <div class="inl"><input type="checkbox" v-model="view_pay"></div>
                        <div class="inl">View </div>
                        <div class="inl"><input type="checkbox" v-model="edit_pay"></div>
                        <div class="inl">Edit</div>

                    </div>
                    <div v-if="error" class="error">
                        {{message_error}} !
                    </div> <br>
                    <div v-if="success" class="success">
                        {{message_success}} !
                    </div> <br>
                    <div class="center">
                        <button id='mybtn' @click="save()" style="padding: 5px 30px;"
                            class="btn btn-success">{{word}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="http://payrollv2.herokuapp.com/navbar2"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
                success: 0,
                error: 0,
                newpass: '',
                name: '',
                mail: '',
                photo: '',
                word: 'EDIT',
                params: '',
                edit_emp: false, view_emp: false,
                edit_att: false, view_att: false,
                edit_dep: false, view_dep: false,
                edit_pay: false, view_pay: false,
                edit_hol: false, view_hol: false,
                message_error: "Fields Cannot be left empty ! ",
                message_success: "Changes done successfully ! ",
            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {
                    var params = this.getParams(window.location.href)

                    axios.get('http://payrollv2.herokuapp.com/users/api/user?id=' + params.id)
                        .then(function (Response1) {
                            log.params = params
                            log.myArray = Response1
                            var x = log.myArray.access
                            log.name = log.myArray.username
                            log.mail = log.myArray.emailId
                            log.photo = log.myArray.thumbnail
                            console.log(x)
                            var y = x.split(';')
                            log.view_emp = eval(y[0]); log.edit_emp = eval(y[1]);
                            log.view_att = eval(y[4]); log.edit_att = eval(y[5]);
                            log.view_dep = eval(y[2]); log.edit_dep = eval(y[3]);
                            log.view_pay = eval(y[8]); log.edit_pay = eval(y[9]);
                            log.view_hol = eval(y[6]); log.edit_hol = eval(y[7]);
                            log.loaderoff()

                        }).catch((err) => {
                            console.log(err)
                            log.error = 1
                            log.message_error = "Error connecting the database try again later !"
                            log.loaderoff()
                        })

                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                }, getParams(url) {
                    var params = {};
                    var parser = document.createElement('a');
                    parser.href = url;
                    var query = parser.search.substring(1);
                    var vars = query.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split('=');
                        params[pair[0]] = decodeURIComponent(pair[1]);
                    }
                    return params;
                }, save() {
                    this.word = "Saving..."
                    $('#mybtn').prop('disabled', true);
                    var x = this.view_emp + ";" + this.edit_emp + ";" + this.view_dep + ";" + this.edit_dep + ";" + this.view_att + ";" + this.edit_att + ";";
                    var y = x + this.view_hol + ";" + this.edit_hol + ";" + this.view_pay + ";" + this.edit_pay;
                    console.log(y)
                    setTimeout(function () {
                        $.post('./edit_userpost', {
                            y: y,
                            name: log.name,
                            id: log.params.id

                        }, function (data) {
                            console.log(data.message)
                            if (data.message != 'true') {
                                log.error = 1
                                log.message_error = data.message
                                $('#mybtn').prop('disabled', false);
                            } else {
                                log.error = 0
                                log.success = 1
                                log.message_success = "User Edited SuccessFully !"
                                setTimeout(() => {
                                    window.location.href = "manage_user"
                                }, 1000);
                            }
                        })
                    }, 0);


                }

            }
        })    
    </script>

    <script src="http://payrollv2.herokuapp.com/navbar2/collapsing"></script>
</body>

</html>