<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>No Access</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://payrollv2.herokuapp.com/settings/style2">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index" id="navba">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <img src="../images/lock" id="lock" style="width: 400;height: 200;">
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="http://payrollv2.herokuapp.com/navbar2"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {
                    setTimeout(function () { log.loaderoff() }, 500);
                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                },

            }
        })    
    </script>

    <script src="http://payrollv2.herokuapp.com/navbar2/collapsing"></script>
</body>

</html>