<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Manage Employee</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="https://payrollv2.herokuapp.comsettings/style2">
    <link rel="stylesheet" href="https://payrollv2.herokuapp.comemployee/css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index" id="navba">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <div class="bord">
                    <div class="headin center">Manage Employees</div>
                    <div class="roww"></div>
                    <div style="text-align: right;">
                        <b style="display: inline-block;">Sort By : </b>
                        <div style="display: inline-block;">
                            <select @change="sort(sortfield)" class="form-control" v-model="sortfield">
                                <option v-for="i in sortarr">
                                    {{i}}
                                </option>
                            </select>
                        </div>
                    </div><br>
                    <div class="empbox center" @click="edit(i.emp_id)" v-for="i in myArray">
                        <b>{{i.name}}</b>
                        <br>
                        <img v-bind:src="i.photo" height="80px" width="80px">
                        <table class="tabman">
                            <tr>
                                <td><b>Date of Joining</b></td>
                                <td>{{i.doj}}</td>
                            </tr>
                            <tr>
                                <td><b>Department</b></td>
                                <td>{{i.dep}}</td>
                            </tr>
                            <tr>
                                <td> <b>Designation</b></td>
                                <td>{{i.des}}</td>
                            </tr>
                        </table>
                        <table class="tabman2">
                            <tr>
                                <td><b>Date of Joining </b></td>
                            </tr>
                            <tr>
                                <td>{{i.doj}}</td>
                            </tr>
                            <tr>
                                <td><b>Department </b></td>
                            </tr>
                            <tr>
                                <td>{{i.dep}}</td>
                            </tr>
                            <tr>
                                <td><b>Designation </b></td>
                            </tr>
                            <tr>
                                <td>{{i.des}}</td>
                            </tr>

                        </table>


                    </div>
                    <div v-if="error" class="error">
                        {{message_error}} !
                    </div> <br>
                </div>
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="https://payrollv2.herokuapp.comnavbar2"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
                sortfield: 'Name',
                error: 0,
                message_error: "Dont leave empty response",
                sortarr: ['Name', 'Department', 'Designation', 'Date of Joining'],
                sortarr2: ['name', 'des', 'dep', 'doj'],
            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {
                    var app = this;
                    axios.get('https://payrollv2.herokuapp.comemployee/api/quickemp')
                        .then(function (Response) {
                            app.myArray=Response
                            var loading = app.$refs.Loading
                            loading.style.display = "none"
                            var content = app.$refs.content2
                            content.style.display = "block"
                        })
                        .catch((err) => {
                            console.log(err)
                            log.error=1
                            log.message_error="Error connecting the database try again later !"
                            log.loaderoff()
                        })
                    this.sort(this.sortfield);
                }, sort(name, type) {
                    var i = 0;
                    if (name == "Name") {
                        i = 0
                    } else if (name == 'Department') {
                        i = 1
                    } else if (name == 'Designation') {
                        i = 2
                    } else if (name == "Date of Joining") {
                        i = 3
                    }
                    this.sortfield = this.sortarr2[i];
                    if (this.sortfield == 'name' || this.sortfield == 'dep' || this.sortfield == 'des') {
                        this.myArray.sort(this.compare)
                    } else if (this.sortfield == 'doj') {
                        this.myArray.sort(this.comparedate)

                    }

                }, compare(a, b) {
                    var nameA = a[this.sortfield]
                    var nameB = b[this.sortfield]
                    if (nameA < nameB) { return -1; }
                    if (nameA > nameB) { return 1; }
                    return 0;
                },
                comparedate(a, b) {
                    var nameA = a[this.sortfield]
                    var nameB = b[this.sortfield]
                    nameA = nameA.slice(6, 10) + nameA.slice(3, 5) + nameA.slice(0, 2)
                    nameB = nameB.slice(6, 10) + nameB.slice(3, 5) + nameB.slice(0, 2)
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }
                    return 0;
                }, edit(idx) {
                    window.location.href = "https://payrollv2.herokuapp.comemployee/edit_emp?empid=" + idx;
                }

            }
        })
        var content = document.getElementById("content2")
        content.style.display = "block"
        var loading = document.getElementById("Loading")
        loading.style.display = "none"

    </script>

    <script src="https://payrollv2.herokuapp.comnavbar2/collapsing"></script>
</body>

</html>