<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Manage Dep</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://localhost:3420/settings/style2">
    <link rel="stylesheet" href="http://localhost:3420/department/css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <div class="bord">
                    <div class="headin center">Show Departments</div>
                    <div class="roww">
                        <div style="display: inline;">
                            Show <select @change="entryfun(entry)" v-model="entry">
                                <option value="10">10</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select> entries

                        </div>

                        <div class="input-icons">
                            <input placeholder="Search" type="text" class="form-control" v-model="query">

                        </div>
                    </div>

                    <table id='tblData'>
                        <tr>
                            <th v-for="i in head.length"><b>{{head[i-1]}}</b>
                                <i class="fa fa-sort-amount-asc" v-show="!sorticon" @click="sort(head2[i-1],'asc')"
                                    v-if="head2[i-1].toLowerCase()==sortfield" style="color:rgb(0, 0, 0)"
                                    aria-hidden="true"></i>
                                <i class="fa fa-sort-amount-desc" v-show="sorticon" @click="sort(head2[i-1],'desc')"
                                    v-if="head2[i-1].toLowerCase()==sortfield" style="color:rgb(0, 0, 0)"
                                    aria-hidden="true"></i>
                                <i class="fa fa-arrows-v" @click="sort(head2[i-1],'asc')"
                                    v-if="head2[i-1].toLowerCase()!=sortfield" style="color:rgb(0, 0, 0)"
                                    aria-hidden="true"></i>

                            </th>
                        </tr>
                        <tr v-for="i in myArray.length"
                            v-if="myArray[i-1].dep.toLowerCase().includes(query.toLowerCase()) && i>=start && i<=end">
                            <td>{{myArray[i-1].dep}}</td>
                            <td>{{myArray[i-1].depcount}}</td>
                            <td>
                                <button ref="myBtn" @click="modal(myArray[i-1].dep)" class="btn btn-danger"><i
                                        class="fa fa-times" style="color:white" aria-hidden="true"></i>&nbsp
                                    Delete</button>
                            </td>
                            <div id="myModal" ref="modal" class="modal">
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <div class="xi"> CONFIRM DEPARTMENT DELETE ??</div>
                                    <div style="max-width: 100px;margin-left: auto;margin-right: auto;">
                                        <button class="btn btn-danger" @click="deletey()">CONFIRM
                                            DELETE</button>
                                    </div>
                                </div>
                            </div>

                        </tr>
                    </table>
                    <br>
                    <div class='pagination-container'>
                        Showing {{start}} to {{end}} of {{total}} entries
                        <nav style="display: inline;">
                            <ul class="pagination">

                                <li data-page="prev" id="previ">
                                    Previous </li>
                                <li v-for="i in pages" @click="paging(i,entry)">
                                    <strong v-if="i==current" id="currentpage">{{i}}</strong>
                                    <strong v-else>{{i}}</strong>
                                </li>
                                <li data-page="next" id="next">
                                    Next
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--Pagination END-->
                    <div v-if="error" class="error">
                        {{message_error}} !
                    </div> <br>
                    <div v-if="success" class="success">
                        {{message_success}} !
                    </div> <br>
                </div>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="http://localhost:3420/navbar2"></script>
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                entry: 10,
                query: '',
                sorticon: 0,
                pages: [], start: 1, total: 100, end: 1, current: 1,
                head: ['Department', 'Employees', 'Actions'],
                head2: ['dep', 'depcount', 'actions'],
                sortfield: 'dep',
                myArray: [],
                success: 1,
                error: 0,
                delete: '?',
                message_error: "Dont leave empty response",
                message_success: "Newly Added Department will be shown if you add atleast one employee in it !",

            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {
                    axios.get('http://localhost:3420/department/api/dep2')
                        .then(function (Response) {
                            log.myArray = Response
                            log.loaderoff()
                            log.total = log.myArray.length;
                            log.entryfun(log.entry);
                            log.sort(log.sortfield);
                        })
                        .catch((err) => {
                            console.log(err)
                            log.error = 1
                            log.message_error = "Error connecting the database try again later !"
                            log.loaderoff()
                        })
                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                }, modal(abc) {
                    this.delete = abc;
                    var app = this;
                    var btn = app.$refs.modal
                    btn.style.display = "block"
                }, entryfun(entry) {
                    this.paging(1, entry)
                    var total_pages = Math.ceil(this.total / entry)
                    this.pages = []
                    for (i = 1; i <= total_pages; i++) {
                        this.pages.push(i)
                    }
                }, sort(name, type) {
                    this.sorticon = !this.sorticon;
                    this.sortfield = name.toLowerCase();
                    console.log(this.sortfield)
                    if (this.sortfield == 'action') {
                        return
                    }
                    else {
                        this.myArray.sort(this.compare)
                        if (type == 'desc') {
                            this.myArray.reverse(this.compare)
                        }

                    }
                    this.paging(1, this.entry)

                }, compare(a, b) {
                    if (this.sortfield == 'dep') {

                        var nameA = a[this.sortfield]
                        var nameB = b[this.sortfield]
                    } else {
                        var nameA = parseInt(a[this.sortfield])
                        var nameB = parseInt(b[this.sortfield])
                    }
                    if (nameA < nameB) { return -1; }
                    if (nameA > nameB) { return 1; }
                    return 0;
                },
                comparedate(a, b) {
                    var nameA = a[this.sortfield]
                    var nameB = b[this.sortfield]
                    nameA = nameA.slice(6, 10) + nameA.slice(3, 5) + nameA.slice(0, 2)
                    nameB = nameB.slice(6, 10) + nameB.slice(3, 5) + nameB.slice(0, 2)
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }
                    return 0;
                }, deletey() {
                    $.post('./delete?id=' + log.delete, {
                    }, function (data) {
                        console.log(data.message)
                        if (data.message != 'true') {
                            log.error = 1
                            log.message_error = data.message

                        } else {
                            log.error = 0
                            log.success = 1
                            log.message_success = "Department Deleted SuccessFully !"
                            setTimeout(() => {
                                window.location.href = "manage_dep"
                            }, 1000);
                        }
                    })
                }, edit(date) {
                    console.log(date)
                }, paging(pageno, entry) {
                    this.current = pageno
                    entry = parseInt(entry)
                    pageno = pageno - 1
                    this.start = pageno * (entry) + 1;
                    this.end = pageno * entry + entry;
                    if (this.total < this.end) {
                        this.end = this.total
                    }

                }

            }
        })
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }    
    </script>

    <script src="http://localhost:3420/navbar2/collapsing"></script>
</body>

</html>