<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Holiday | Manage Holiday</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://localhost:3420/settings/style2">
    <link rel="stylesheet" href="http://localhost:3420/holiday/css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <div class="bord">
                    <div class="headin center">Manage Holidays</div>
                    <div class="roww">
                        <div style="display: inline;">
                            Show <select @change="entryfun(entry)" v-model="entry">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select> entries

                        </div>

                        <div class="input-icons">
                            <input placeholder="Search" type="text" class="form-control" v-model="query">

                        </div>
                    </div>

                    <table id='tblData'>
                        <tr>
                            <th v-for="i in head"><b>{{i}}</b>
                                <i class="fa fa-sort-amount-asc" v-show="!sorticon" @click="sort(i,'asc')"
                                    v-if="i.toLowerCase()==sortfield" style="color:rgb(0, 0, 0)" aria-hidden="true"></i>
                                <i class="fa fa-sort-amount-desc" v-show="sorticon" @click="sort(i,'desc')"
                                    v-if="i.toLowerCase()==sortfield" style="color:rgb(0, 0, 0)" aria-hidden="true"></i>
                                <i class="fa fa-arrows-v" @click="sort(i,'asc')" v-if="i.toLowerCase()!=sortfield"
                                    style="color:rgb(0, 0, 0)" aria-hidden="true"></i>

                            </th>
                        </tr>
                        <tr v-for="i in myArray.length"
                            v-if="myArray[i-1].holname.toLowerCase().includes(query.toLowerCase()) && i>=start && i<=end">
                            <td>{{myArray[i-1].date}}</td>
                            <td>{{myArray[i-1].holname}}</td>
                            <td><button @click="edit(myArray[i-1].hol_id)" class="btn btn-success"><i
                                        class="fa fa-pencil-square" style="color:white" aria-hidden="true"></i>&nbsp
                                    Edit <div class="media">Holiday
                                    </div></button>
                                <button @click="deletey(myArray[i-1].hol_id)" class="btn btn-danger"><i
                                        class="fa fa-times" style="color:white" aria-hidden="true"></i>&nbsp
                                    Delete</button></td>

                        </tr>
                    </table>
                    <br>
                    <div class='pagination-container'>
                        Showing {{start}} to {{end}} of {{total}} entries
                        <nav style="display: inline;">
                            <ul class="pagination">

                                <li data-page="prev" id="previ">
                                    Previous </li>
                                <li v-for="i in pages" @click="paging(i,entry)">
                                    <strong v-if="i==current" id="currentpage">{{i}}</strong>
                                    <strong v-else>{{i}}</strong>
                                </li>
                                <li data-page="next" id="next">
                                    Next
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--Pagination END-->
                </div>
                <div v-if="error" class="error">
                    {{message_error}} !
                </div> <br>
                <div v-if="success" class="success">
                    {{message_success}} !
                </div> <br>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="http://localhost:3420/navbar2"></script>
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                entry: 10,
                query: '',
                sorticon: 0,
                pages: [], start: 1, total: 100, end: 1, current: 1,
                head: ['Date', 'Holiday', 'Actions'],
                sortfield: 'date',
                myArray: [],
                success: 0,
                error: 0,
                message_error: "Dont leave empty response",
                message_success: "Message !",
            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {

                    axios.get('http://localhost:3420/holiday/api/holiday')
                        .then(function (Response) {
                            log.myArray = Response
                            log.loaderoff()
                            log.total = log.myArray.length;
                            log.entryfun(log.entry);
                            log.sort(log.sortfield);
                        })
                        .catch((err) => {
                            console.log(err)
                            log.error = 1
                            log.message_error = "Error connecting the database try again later !"
                            log.loaderoff()
                        })
                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                }, entryfun(entry) {
                    this.paging(1, entry)
                    var total_pages = Math.ceil(this.total / entry)
                    this.pages = []
                    for (i = 1; i <= total_pages; i++) {
                        this.pages.push(i)
                    }
                }, sort(name, type) {

                    this.sorticon = !this.sorticon;
                    this.sortfield = name.toLowerCase();
                    if (name == "Holiday") {
                        this.sortfield = "holname"
                    }
                    if (this.sortfield == 'action') {
                        return
                    } else if (this.sortfield == 'date') {
                        this.myArray.sort(this.comparedate)
                        if (type == 'desc') {
                            this.myArray.reverse(this.comparedate)
                        }
                    } else {
                        this.myArray.sort(this.compare)
                        if (type == 'desc') {
                            this.myArray.reverse(this.compare)
                        }


                    }
                    console.log("AYA")
                    if (this.sortfield == "holname") {
                        this.sortfield = "holiday"
                    }
                    this.paging(1, this.entry)

                }, compare(a, b) {
                    if (this.sortfield == 'holname') {

                        var nameA = a[this.sortfield]
                        var nameB = b[this.sortfield]
                    } else {
                        var nameA = parseInt(a[this.field])
                        var nameB = parseInt(b[this.field])
                    }
                    if (nameA < nameB) { return -1; }
                    if (nameA > nameB) { return 1; }
                    return 0;
                },
                comparedate(a, b) {
                    var nameA = a[this.sortfield]
                    var nameB = b[this.sortfield]
                    nameA = nameA.slice(6, 10) + nameA.slice(3, 5) + nameA.slice(0, 2)
                    nameB = nameB.slice(6, 10) + nameB.slice(3, 5) + nameB.slice(0, 2)
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }
                    return 0;
                }, deletey(date) {
                    $.post('./delete?id=' + date, {
                    }, function (data) {
                        console.log(data.message)
                        if (data.message != 'true') {
                            log.error = 1
                            log.message_error = data.message

                        } else {
                            log.error = 0
                            log.success = 1
                            log.message_success = "Holiday Deleted SuccessFully !"
                            setTimeout(() => {
                                window.location.href = "manage_holiday"
                            }, 1000);
                        }
                    })
                }, edit(idx) {
                    window.location.href = "edit_holiday?id=" + idx;
                }, paging(pageno, entry) {
                    this.current = pageno
                    entry = parseInt(entry)
                    pageno = pageno - 1
                    this.start = pageno * (entry) + 1;
                    this.end = pageno * entry + entry;
                    if (this.total < this.end) {
                        this.end = this.total
                    }

                }

            }
        })    
    </script>

    <script src="http://localhost:3420/navbar2/collapsing"></script>
</body>

</html>