<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pay List</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="https://payrollv2.herokuapp.comsettings/style2">
    <link rel="stylesheet" href="../payslips/css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index" id="navba">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>

            <div>
                <div class="bord">


                    <div class="headin center">Pay Slips </div>
                    <div class="roww">
                        <table class="report">
                            <tr>
                                <td><strong class="options">Select Year :</strong></td>
                                <td><strong class="options">Select Month :</strong></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td><select class="form-control options" v-model="select_year">
                                        <option v-for="i in yearlist">{{i}}</option>
                                    </select></td>
                                <td><select class="form-control options" v-model="select_month">
                                        <option v-for="i in monthlist">{{i}}</option>
                                    </select></td>
                                <td>
                                    <div class="center">
                                        <button id='mybtn' @click="submit()" style="padding: 5px 30px;"
                                            class="btn btn-success">Show
                                            Paylists
                                            &nbsp;&nbsp;<i class="fa fa-spinner fa-spin" id='abc'></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table><br>
                        <div v-if="error" class="error">
                            {{message_error}} !
                        </div> <br>
                        <div v-if="success" class="success">
                            {{message_success}} !
                        </div> 
                        <img src="../images/loading" v-show="paylist" id="Loading" ref="Loading">
                        <div v-show="paylist" id="content2" ref="content2">
                            <div class="center" style="font-size: 1.2em;">
                               Total Balance Amount &nbsp;<b>{{symbol}} {{(totalb).toLocaleString('en-IN')}}</b>
                            </div>
                            <div class="center" style="font-size: 1.2em;">
                            Total Net Pay Amount  &nbsp;<b>{{symbol}}{{(totaln).toLocaleString('en-IN')}}</b>
                            </div>
                            
                            <div style="display: inline;">
                                Show <select @change="entryfun(entry)" v-model="entry">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select> entries

                            </div>

                            <div class="input-icons">
                                <input placeholder="Search" type="text" class="form-control" v-model="query">

                            </div>

                            <table id='tblData'>
                                <tr>
                                    <th v-for="i in head"><b>{{i}}</b>
                                        <i class="fa fa-sort-amount-asc" v-show="!sorticon" @click="sort(i,'asc')"
                                            v-if="i.toLowerCase()==sortfield.toLowerCase()" style="color:rgb(0, 0, 0)"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-sort-amount-desc" v-show="sorticon" @click="sort(i,'desc')"
                                            v-if="i.toLowerCase()==sortfield.toLowerCase()" style="color:rgb(0, 0, 0)"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-arrows-v" @click="sort(i,'asc')"
                                            v-if="i.toLowerCase()!=sortfield.toLowerCase()" style="color:rgb(0, 0, 0)"
                                            aria-hidden="true"></i>

                                    </th>
                                </tr>
                                <tr v-for="i in myArray.length"
                                    v-if="myArray[i-1]['employee_quick'].name.toLowerCase().includes(query.toLowerCase()) && i>=start && i<=end">
                                    <td><b>{{myArray[i-1]['employee_quick'].name}}</b></td>
                                    <td>{{symbol}} {{(myArray[i-1].netpay).toLocaleString('en-IN')}}</td>
                                    <td><button @click="download(myArray[i-1].emp_id)" class="btn btn-success"><i
                                                class="fa fa-download" style="color:white" aria-hidden="true"></i>
                                            Download</button>
                                        <button @click="print(myArray[i-1].emp_id)" class="btn btn-danger"><i
                                                class="fa fa-print" style="color:white" aria-hidden="true"></i>&nbsp
                                            Print</button></td>

                                </tr>
                            </table>
                            <br>
                            <button @click="printall()" style="padding:3px 15px" class="btn btn-danger"><i
                                    class="fa fa-print" style="color:white" aria-hidden="true"></i>&nbsp Print
                                All</button>
                            </td>
                            <br><br>
                            <div class='pagination-container'>
                                Showing {{start}} to {{end}} of {{total}} entries
                                <nav style="display: inline;">
                                    <ul class="pagination">

                                        <li data-page="prev" id="previ">
                                            Previous </li>
                                        <li v-for="i in pages" @click="paging(i,entry)">
                                            <strong v-if="i==current" id="currentpage">{{i}}</strong>
                                            <strong v-else>{{i}}</strong>
                                        </li>
                                        <li data-page="next" id="next">
                                            Next
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="https://payrollv2.herokuapp.comnavbar2"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                entry: 10,
                query: '',
                symbol: '₹',
                sorticon: 0,
                pages: [], start: 1, total: 100, end: 1, current: 1,
                head: ['Name', 'Final Amount', 'Actions'],
                sortfield: 'name',
                myArray: [],
                success: 0,
                error: 0,
                sortfield2: '',
                yearlist: [],
                arr: ['01-', '02-', '03-', '04-', '05-', '06-', '07-', '08-', '09-', '10-', '11-', '12-'],
                monthday: [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31],
                monthlist: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', "December"],
                select_year: '',
                select_month: '',
                message_error: "Enter the full details",
                message_success: "Paylists loaded successfully",
                paylist: 0,
                totalb: 0,
                totaln: 0,
            },
            created: function () {
                this.load();
            },
            methods: {
                load: function () {

                    $('#abc').hide()
                    this.year();
                }, entryfun(entry) {
                    this.paging(1, entry)
                    var total_pages = Math.ceil(this.total / entry)
                    this.pages = []
                    for (i = 1; i <= total_pages; i++) {
                        this.pages.push(i)
                    }
                }, sort(name, type) {
                    if (name == 'Final Amount') {
                        this.sortfield = name
                        this.sortfield2 = 'netpay'
                    } else {

                        this.sortfield = 'name'
                        this.sortfield2 = this.sortfield
                    }
                    this.sorticon = !this.sorticon
                    if (this.sortfield == 'name' || this.sortfield == 'Final Amount') {

                        this.myArray.sort(this.compare)
                    }
                    if (type == 'desc') {
                        this.myArray.reverse(this.comparedate)
                    }

                }, compare(a, b) {
                    var nameA = ''
                    var nameB = ''
                    if (this.sortfield2 == 'netpay') {
                        nameA = a[this.sortfield2]
                        nameB = b[this.sortfield2]
                    } else {
                        nameA = a['employee_quick'][this.sortfield2]
                        nameB = b['employee_quick'][this.sortfield2]
                    }

                    if (nameA < nameB) { return -1; }
                    if (nameA > nameB) { return 1; }
                    return 0;
                },
                comparedate(a, b) {
                    var nameA = a['employee_quick'][this.sortfield]
                    var nameB = b['employee_quick'][this.sortfield]
                    nameA = nameA.slice(6, 10) + nameA.slice(3, 5) + nameA.slice(0, 2)
                    nameB = nameB.slice(6, 10) + nameB.slice(3, 5) + nameB.slice(0, 2)
                    if (nameA < nameB) {
                        return -1;
                    }
                    if (nameA > nameB) {
                        return 1;
                    }
                    return 0;
                }, paging(pageno, entry) {
                    this.current = pageno
                    entry = parseInt(entry)
                    pageno = pageno - 1
                    this.start = pageno * (entry) + 1;
                    this.end = pageno * entry + entry;
                    if (this.total < this.end) {
                        this.end = this.total
                    }

                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                    $('#abc').hide();
                }, loaderon() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "block"
                    var content = app.$refs.content2
                    content.style.display = "none"
                }, download(idx) {
                    var x = "https://payrollv2.herokuapp.compayslips/printsingle?id=" + idx + "&month=" + this.arr[this.monthlist.indexOf(this.select_month)] + this.select_year + "&action=download";
                    window.open(x, "_blank")

                }, print(idx) {
                    var x = "https://payrollv2.herokuapp.compayslips/printsingle?id=" + idx + "&month=" + this.arr[this.monthlist.indexOf(this.select_month)] + this.select_year + "&action=print";
                    window.open(x, "_blank")
                }, printall() {
                    var x = "https://payrollv2.herokuapp.compayslips/printmultiple?&month=" + this.arr[this.monthlist.indexOf(this.select_month)] + this.select_year;
                    window.open(x, "_blank")
                }, calc() {
                    for (var i = 0; i < log.myArray.length; i++) {

                        this.totalb = this.totalb + log.myArray[i].balance
                        this.totaln = this.totaln + log.myArray[i].netpay
                    }

                }, year() {
                    var d = new Date();
                    var n = d.getFullYear() + 1;
                    var y = 2020;
                    do {
                        this.yearlist.push(y)
                        y++;
                    } while (n != y);
                    this.select_month = this.monthlist[d.getMonth()];
                    this.select_year = n - 1;
                }, submit() {
                    $('#mybtn').prop('disabled', true);
                    if (log.select_month == "" || log.select_year == "") {
                        log.error = 1
                        $('#mybtn').prop('disabled', false);
                        return
                    }
                    log.loaderon()
                    log.paylist = 1
                    log.totalb=0
                    log.totaln=0
                    $('#abc').show();
                    axios.get('https://payrollv2.herokuapp.compayslips/api/data?date=' + log.arr[log.monthlist.indexOf(log.select_month)] + log.select_year)
                        .then(function (Response1) {
                            if (Response1.length == 0) {
                                console.log(Response1)
                                log.error = 1
                                log.loaderoff()
                                log.paylist = 0
                                $('#mybtn').prop('disabled', false);
                                log.message_error = "NO RECORD FOUND"
                                return

                            }
                            log.myArray = Response1
                            log.calc()
                            axios.get('https://payrollv2.herokuapp.comsettings/api/symbol')
                                .then(function (Response2) {
                                    log.symbol = Response2
                                })
                                .catch((err) => {
                                    console.log(err)
                                    log.error = 1
                                    log.message_error = "Error connecting the database try again later !"
                                    log.loaderoff()
                                })

                            log.total = log.myArray.length;
                            log.entryfun(log.entry);
                            log.loaderoff()

                            log.sort(this.sortfield);
                            $('#mybtn').prop('disabled', false);


                        })
                        .catch((err) => {
                            console.log(err)
                            log.error = 1
                            log.message_error = "Error connecting the database try again later !"
                            log.loaderoff()
                        })

                }

            }


        })    
    </script>

    <script src="https://payrollv2.herokuapp.comnavbar2/collapsing"></script>
</body>

</html>