body{
    background-color: #96c8fb;
background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
 overflow-x: hidden;
}
.card{
    border-style: groove;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    
}
.centre:not(.close){
    display: flex;
	justify-content: center;
	left: 50%;
  	position: absolute;
  	left: 50%;
  	-ms-transform: translateX(-50%) translateY(0%);
  	-webkit-transform: translate(-50%,0%);
  	transform: translate(-50%,0%);
}
.head{
    font-family: 'Trocchi', serif; 
    font-size: 45px; 
    font-weight: bolder;
    line-height: 48px;
    margin: 0; 
}
.btn{
    background-color: #d30606;
    color: white;
    font-weight: bold;
    width: 150px;
    border-radius: 20px;
    outline-style:none ;
}
.btn:active,
.btn:focus,
.btn:hover{
    background-color: #c7270b;
    color: white;
    font-weight: bold;
    width: 150px;
    outline-style:none !important;
}
.btn2{
    background-color: #079e2d;
    color: white;
    font-weight: bold;
    width: 100px;
    border-radius: 20px;
    outline-style:none ;
}
.btn2:active,
.btn2:focus,
.btn2:hover{
    background-color: #1c9411;
    color: white;
    font-weight: bold;
    width: 100px;
    outline-style:none !important;
}
.data{
	padding: 15px;
	position: relative;
	top: 20%;
	left: 0%;
	
	overflow-x: auto;
}
.imagecon{
	padding: 5px;
	position: relative;
	top:0%;
	left: 10%;
	
	overflow-x: auto;
}
  .modal {
	display: hidden;
	position: fixed; 
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%; 
  }
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  .uploadOuter {
	text-align: center;
	padding: 20px;
	
  }
  .dragBox {
	width: 250px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-weight: bold;
	line-height: 95px;
	color: rgb(10, 8, 8);
	border: 2px dashed rgb(14, 9, 9);
	display: inline-block;
	transition: transform 0.3s;
	
  }
  input[type="file"] {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	top: 0;
	left: 0;
  }
  .draging {
	transform: scale(1.1);
  }
  #preview {
	text-align: center;
	
  }
  img {
	max-width: 100%;
	border-radius:15%;
	margin: 5% 0%
  }
  .email{
	font-weight: bold;
	margin-bottom: 2%;
}
.name{
	font-weight: bold;
	margin-top: 2%;
	margin-bottom: 1%;
}

  @media (min-width:260px) and (max-width:814px){

	.container-fluid{
		width: 90%;
	}
	img{
		width: 90%;
		height:auto;
		display: flex;
		padding-left: 5%;
		justify-content: center;
	}
	.imagecon{
		width: 80%;
		margin-right: 0px !important;
		display: inline-block;	
		justify-content: center;	
	}
	#myBtn{
		margin-left: 10%;
	}
	#btn{
		margin-left: 15%;
	}
	.email{
		font-weight: bold;
		margin-bottom: 2%;
	}
	.name{
		font-weight: bold;
		margin-top: 2%;
		margin-bottom: 1%;
	}

}